.menu-wrapper {
    width: 100%;
  }
  
  .top-nav {
    display: flex;
    gap: 10px;
    background: white;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .nav-item {
    background: #053074;
    color: white;
    padding: 16px 28px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;
  }
  
  .nav-item.active {
    border-bottom: 4px solid yellow;
  }
  
  .mega-menu {
    background: white;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  }
  
  .column h3 {
    color: #053074;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
    display: inline-block;
    border-bottom: 4px solid #ffe600;
  }
  .blue-button {
    background: linear-gradient(45deg, #2196f3, #053074);
    color: white;
    font-size: 16px;       /* taille du texte */
    padding: 12px 20px;    /* taille du bouton */
    min-width: 150px;      /* largeur minimale */
    border-radius: 10px;
    font-weight: 600;
  
    transition: 0.3s ease;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .blue-button:hover {
    transform: translateY(-2px);
  
  }