
<div class="button-container">
  <button mat-raised-button class="blue-button" (click)="addCategory()">
    Add Category
  </button>
</div>
<div class="menu-wrapper" *ngIf="roots.length">

    <!-- barre du haut -->
    <nav class="top-nav">
      <a
        *ngFor="let root of roots"
        class="nav-item"
        [class.active]="activeRoot?.categoryId === root.categoryId"
        (mouseenter)="setActive(root)">
        {{ root.name }}
      </a>
    </nav>
  
    <!-- mega menu -->
    <div class="mega-menu" *ngIf="activeRoot">
      <div class="column" *ngFor="let child of activeRoot.children">
        <h3>{{ child.name }}</h3>
  
        <app-category-selector [categories]="child.children"></app-category-selector>
      </div>
    </div>
  
  </div>