<div *ngFor="let product of items" class="cart-item">

    <span>{{ product.code }}</span>
    <input
      type="number"
      [(ngModel)]="product.unitPrice"
      (ngModelChange)="notify()"
      min="0"
      />
      <span>Discount</span>
      <input
      type="number"
      [(ngModel)]="product.discount"
      (ngModelChange)="notify()"
      min="0"
      />
   
    <button (click)="decreaseQuantity(product)">-</button>
    <span>{{ product.quantity }}</span>
    <button (click)="increaseQuantity(product)">+</button>
  
    <button (click)="removeProduct(product)">❌</button>
  
  </div>