
<mat-drawer-container class="container">


  <mat-drawer #drawer mode="side" opened class="sidenav">



    <h3 class="menu-title">Menu</h3>

    <!-- STOCK MANAGEMENT -->
    <button mat-raised-button  class="par-btn" color="primary"
            (click)="showStockManagment = !showStockManagment">
      Stock Management
    </button>


    <div *ngIf="showStockManagment" class="submenu">

      
      
        <button class="par-enf-btn"  color="primary"
              (click)="showProductManagment = !showProductManagment">
        Product Management
        </button>
            <div *ngIf="showProductManagment" class="submenu">
                <button class="enf-btn"  (click)="getProducts(); hideCategoryMenu()">
                Products List
                </button>
            </div>
            <div *ngIf="showProductManagment" class="submenu">
              <button class="enf-btn"  (click)="changePassword(); hideCategoryMenu()">
                changePassword
              </button>
          </div>

        <button class="par-enf-btn" color="primary"
            (click)="showCategoryManagment = !showCategoryManagment">
            Category Management
            </button>
            <div *ngIf="showCategoryManagment" class="submenu">
                <button class="enf-btn" (click)="getCategory(); hideCategoryMenu()">
                  Category List
                </button>
          
            </div>
            
      


      
        <!-- Add Product supplier  -->
        <button mat-button (click)="addProductSupplier(); hideCategoryMenu()">
          Add Product Supplier
        </button>
        <!-- Characteristic MANAGEMENT -->
        <button class="par-enf-btn" color="primary"
          (click)="showcharacteristicManagment = !showcharacteristicManagment">
          Characteristic  Managment
          </button>

              <div *ngIf="showcharacteristicManagment" class="submenu">

                  <button class="enf-btn" (click)="addCharacteristic(); hideCategoryMenu()">
                    Add Characteristic
                  </button>
                  <button class="enf-btn" (click)="allCharacteristic(); hideCategoryMenu()" >
                    Characteristic List
                  </button>

              </div>

      <!-- Aisle MANAGEMENT -->
      <button class="par-enf-btn" color="primary"
          (click)="showAisleManagment = !showAisleManagment">
                Aisle Managment
          </button>

          <div *ngIf="showAisleManagment" class="submenu">

              <button class="enf-btn"(click)="addAisle(); hideCategoryMenu()">
                Add Aisle
              </button>
              <button class="enf-btn"(click)="allAisle(); hideCategoryMenu()">
                  Aisle List
              </button>
          </div>

      <!-- ProductUnitsale MANAGEMENT -->
     <button class="par-enf-btn" color="primary"
      (click)="showProductUnitsaleManagment = !showProductUnitsaleManagment">
        Product Unit sale Management
        </button>
 
         <div *ngIf="showProductUnitsaleManagment" class="submenu">
 
         <button class="enf-btn" (click)="addProductUnitsale(); hideCategoryMenu()">
         Add Product Unit sale
         </button>
 
         <button class="enf-btn" (click)="allProductUnitsale(); hideCategoryMenu()">
         All Product Unit sale
         </button>
 
     </div>

     
       <!--   ProductVariant Managment   -->
      <button class="par-enf-btn" color="primary"
       (click)="showProductVariantManagment = !showProductVariantManagment">
       Product Variant Management
           </button>
   
           <div *ngIf="showProductVariantManagment" class="submenu">
   
           <button class="enf-btn" (click)="addProductVariant(); hideCategoryMenu()">
           Add Product Variant
           </button>
   
           <button class="enf-btn" (click)="allProductVariant(); hideCategoryMenu()">
           All Product Variant
          </button>
   
       </div>
       <!-- Unit MANAGEMENT -->
       <button class="par-enf-btn" color="primary"
        (click)="showUnitManagment = !showUnitManagment">
        Unit Management
        </button>

        <div *ngIf="showUnitManagment" class="submenu">

          <button class="enf-btn"(click)="addUnit(); hideCategoryMenu()">
          Add Unit
          </button>

          <button class="enf-btn" (click)="allUnits(); hideCategoryMenu()">
          All Units
          </button>

         </div>

    </div>
      


    <!-- USER MANAGEMENT -->
    <button mat-raised-button  class="par-btn" color="primary"
            (click)="showUserManagment = !showUserManagment">
      User Management
    </button>

    <div *ngIf="showUserManagment" class="submenu">

      <button class="enf-btn" (click)="signUp(); hideCategoryMenu()">
        Add User
      </button>

    </div>       
      


    <!-- SUPPLIER MANAGEMENT -->
    <button mat-raised-button  class="par-btn" color="primary"
            (click)="showSupplierManagment = !showSupplierManagment">
      Supplier Management
    </button>

    <div *ngIf="showSupplierManagment" class="submenu">

      <button class="enf-btn" (click)="addSupplier(); hideCategoryMenu()">
        Add Supplier
      </button>

      <button class="enf-btn" (click)="allSuppliers(); hideCategoryMenu()">
        All Suppliers
      </button>
    </div>

    <!-- CLIENT MANAGEMENT -->
    <button mat-raised-button  class="par-btn" color="primary"
            (click)="showClientManagment = !showClientManagment">
      Client Management
    </button>

    <div *ngIf="showClientManagment" class="submenu">

      <button class="enf-btn" (click)="addClient(); hideCategoryMenu()">
        Add Client
      </button>

      <button class="enf-btn" (click)="allClients(); hideCategoryMenu()">
        All clients
      </button>
    </div>
      
    
  
        <!--MovmentInStock -->
            <button mat-raised-button  class="par-btn"color="primary"
            (click)="showMovmentInStockManagment = !showMovmentInStockManagment">
            Stock Movement Management
            </button>
        
            <div *ngIf="showMovmentInStockManagment" class="submenu">
        
                <button class="enf-btn" (click)="addPurchaseOrder() ;hideCategoryMenu()">
                Add Purchase Operation
                </button>

                <button class="enf-btn" (click)="NotDeliveredPurchaseOrders() ; hideCategoryMenu()">
                 Purchase Operation List
                </button>


                <button class="enf-btn" (click)="addSale() ;hideCategoryMenu()">
                  Add Sale
                  </button>
                  <button class="enf-btn" (click)="salesOrderList() ;hideCategoryMenu()">
                    Sales List 
                  </button>



                
          
              <button class="enf-btn" (click)="allMovmentInStock(); hideCategoryMenu()">
                 Stock Movement
                </button>
            </div>
  </mat-drawer>

<div class="cog-square">
  <i class="fa-solid fa-gear" (click)="seeButtons()"></i>
</div>


<div *ngIf="showMenu" class="floating-menu">
  <button mat-button (click)="changePassword() ; hideCategoryMenu()">Change Password</button>
  <button mat-button (click)="logout()">Logout</button>
</div>
 

  <!-- CONTENT -->
  <div class="content">

    <button class="par-btn" mat-raised-button color="primary"
            (click)="drawer.toggle()">
       Menu
    </button>
    <app-category-menu *ngIf="showCategoryMenu"></app-category-menu>
  


    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>
